In [1]:
#Q1

In [4]:
marks = int(input("Enter Your marks"))
if marks > 90:
    print("You got Grade A")
elif marks > 80 and marks <=90:
    print("You got Grade B")
elif marks >= 60 and marks <= 80:
    print("You got Grade C")
elif marks < 60:
    print("You got Grade D")

Enter Your marks 65

You got Grade C

In [5]:
#Q2

In [3]:
cost_price = float(input("Enter Your cost price"))
if cost_price > 100000:
    tax = 0.15
elif cost_price >50000 and cost_price <= 100000:
    tax = 0.10
elif cost_price <=50000:
    tax = 0.05
    road_tax = cost_price * tax
    print(road_tax, " is the road tax to be paid")

Enter Your cost price 50000

2500.0  is the road tax to be paid

In [4]:
#Q3

In [8]:
city = str(input("Enter city name"))
if city == "Delhi":
            print("Red Fort Monument")
elif city == "Agra":
           print("Taj Mahal Monument")
elif city == "Jaipur":
           print("Jal Mahal Monument")

Enter city name Agra

Taj Mahal Monument

In [9]:
#Q4

In [10]:
number = int(input("Enter number <= 10"))
if number % 3 == 0:
    print("Number is divisible by 3")
else :
    print("Number is not divisible by 3")

Enter number <= 10 20

Number is not divisible by 3

In [ ]:
Q5. Why and when to use while loop in python give a detailed description with example? 
Ans. Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

In [12]:
i = 1
n = 5

while i<=n:
    print(i)
    i = i+1

1
2
3
4
5

In [13]:
#Q6.

In [27]:
n = int(input("Enter number of rows : "))
row = 0
while row <=n:
    star = row + 1
    while star > 0:
        print("*", end = " ") 
        star = star - 1
    row = row + 1
    print()

Enter number of rows :  4

*
* *
* * *
* * * *
* * * * *

In [29]:
n = int(input("Enter number of rows : "))
row = 0
while row<n:
    space = n - row -1
    while space > 0:
        print(end=" ")
        space = space-1
    star = row + 1
    while star > 0:
        print("*",end = " ")
        star = star - 1
    row = row + 1
    print()

Enter number of rows :  4

   *
  * *
 * * *
* * * *

In [30]:
n = int(input("Enter number of rows : "))
i = 1
while i <= n:
    j = 1
    while j<=i:
        print(j ,end = " ")
        j = j + 1
    print()
    i = i + 1

Enter number of rows :  3

1
1 2
1 2 3

In [31]:
#Q7

In [34]:
a = 10

while a >0:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1

In [35]:
#Q8

In [36]:
a = 10

while a >0:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1